{% extends "homepage/index.html" %}

{% block path %}
<ul class="breadcrumb">
  <li><a href="{% url homepage_settings %}">Settings</a> <span class="divider">/</span></li>
  <li><a href="{% url homepage_manageUser %}">Manage users</a> <span class="divider">/</span></li>
  <li class="active">Add users rights</li>
</ul>
{% endblock %}

{% block js %}
{% if user.is_authenticated %}
<script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
<script>
  //submit form with the selected plant and user
	function submitAddUser() {
		var user = $("#user_add").val(),
		plant = $("#plant_add").val();
		$("#id_Aname").val(user);
		$("#id_AplantName").val(plant);
		$('#addForm').submit();
	}
</script>
{% endif %}
{% endblock %}
{% block content %}
<div id="add_user" class="form-inline">
	<div id="add_user_form">
		<select id="user_add">
			{% for user in MembreList %}
			<option value="{{user}}">{{ user }}</option>
			{% endfor %}
		</select>
		<select id="plant_add">
			{% for pl in PlantList %}
			<option value="{{pl}}">{{ pl }}</option>
			{% endfor %}
		</select>
		<input type="button" value="Cancel" onclick="location.href='{% url homepage_manageUser %}'">
		<input type="button" value="Add" onclick="submitAddUser ()">
	</div>
</div>
<form id="addForm" action="." method="POST" style="display:none">
	{% csrf_token %}
	{{ addForm.as_table }}
	<input type="submit" value="Add">
</form>
{% endblock %}
