{% extends "homepage/index.html" %}
{% block content %}
<div  class="well" >
  <h3>Benchmarking</h3>
  <p style="text-align: justify;">
    A benchmarking comparison tool based on Key Performance Indicators (KPIs) is implemented to enable anonymous cross border comparison of the participating plants. Apart from the classical benchmarking between plants EOS will focus on target- and best-practice values taken from literature. This enables the system to provide the operator with helpful information even at an early stage when only a few plants are connected to the system. Apart from this it enables plant operators to compare themselves to state of the art techniques. Those studies can be run on a regular basis. At the moment different (not comparable) benchmarking studies exist in different countries of the European Union (EU). They are usually performed once a year and plant operators often must pay for the participation. EOS enables the operator to take part in much more frequent studies specialised on energy efficiency for free. All they need to do is connect their plant to the system. A statistical tool is implemented for statistical validation of the data and for providing the operator with prepared trending graphs on a regular basis. The analysed and statistical edited data will be provided to the operator in an energy report. A set of KPIs was developed for data analysis. The KPIs address different levels of plant operation: From a global point of view, treatment step specific point of view down to aggregate specific analysis.
  </p>
</div>
<div class="container-fluid" style="position: relative; width:200%; left:-50px;"><!--left: -250px-->
  <div class="span8">
    <img class="img-polaroid" src="/static/img/stirrer.png" style="height: 400px; width: 660px"></img></div>
  <div class="span8">
    <img class="img-polaroid" src="/static/img/specific_energy.png" style="height: 400px; width: 800px;"></img></div>
</div>
{% endblock %}
{% block footer %}

{% endblock %}
