{% extends "homepage/index.html" %}
{% block path %}
<ul class="breadcrumb">
  <li><a href="{% url homepage_settings %}">Settings</a> <span class="divider">/</span></li>
  <li class="active">Create plant</li>
</ul>
{% endblock %}

{% block js %}
{% endblock %}
{% block content %}

{% if user.is_authenticated %}
{% if not is_user_authorized %}
Access denied.
{% else %}

<div class="well" style="text-align:center;" >
<form class="form-inline" id="add_new_plant" action="." method="POST">
	{% csrf_token %}
	{{ nvPlant.as_table }}
	<input type="submit" value="Add">
</form>
</div>

{% endif %}
{% else %}
<p>Please <a href="{% url auth_login %}">log in</a>.</p>
{% endif %}

{% endblock %}