{% extends "homepage/index.html" %}

{% block content %}
    <div style="text-align:center;" class="alert alert-error">
      <h4>{{ ReqPlantRef }}</h4>
      <p>You can't access to this plant.</p>
    </div>
{% endblock %}
