{% extends "base.html" %}

{% block js %}
    {{block.super}}
    <script src="/static/bootstrap/js/bootstrap-popover.js"></script>
{% endblock js %}

{% block path %}
{% endblock %}

{% block top_menu %}
   <nav id="top_menu">
      <table>
        <thead>
          <tr>
            <td><a href="{% url homepage_index %}">Home</a></td>
            <td><a href="{% url homepage_benchmark %}">Benchmark</a></td>
            <td><a href="{% url homepage_support %}">Decision support</a></td>
            {% if alSelected %}
            <td><a href="{% url homepage_plant selected.plantKey %}">Plant</a></td>
            {% else %}
            <td><a href="{% url user_organisation_page %}">Plant</a></td>
            {% endif %}
            <td><a href="{% url homepage_settings %}">Settings</a></td>
        </tr>
    </thead>
    </table>
  </nav>
{% endblock %}
{% block top_box %}
{% if user.is_authenticated %}
logged in as {{ user }}<br />
    {% if is_orga_manager %}
    <a href="{% url user_request_page %}">request ({{ nbRequest }})</a><br /><br /></br>
    {% endif %}
    Selected plant : {{ selected }} - <a href="{% url user_organisation_page %}">change</a>
    <br />
    <a href="{% url auth_logout %}">Logout</a><br />
{% else %}
    <a href="{% url auth_login %}">Login</a>
{% endif %}

{% endblock top_box %}
{% block content %}
<div class="well" style="text-align:center;">
  <h3>Welcome to the Energy Online System (EOS)</h3>
</div>
<!--<img src="/static/img/plantschema.jpg"></img>-->
<div class="well">
  <p>
    In the overall context of the INNERS project, an Energy Online System (EOS) has been developed as an aid to improve the energy efficiency of Waste Water Treatment Plants (WWTPs). Within the EOS, a number of tools have been developed (Benchmarking, Statistical Analysis and a Decision Support System, DSS) to assist a plant operator with improving plant efficiency. The EOS system is a collaboration of the Wupperverbandsgesellschaft für integrale Wasserwirtschaft, the University of Luxembourg and the Centre de Recherche Public Henri Tudor. However, all the INNERS partners have contributed to its completion.
  </p>
  <h4>INNERS Summary</h4>
  <p>
    Improving the energy balance of the urban water cycle is the aim of the INNERS project, which stands for “INNovative Energy Recovery Strategies in the urban water cycle”. Eleven partners from the Netherlands, United Kingdom, France, Germany, Belgium and Luxembourg are collaborating to think in a new way about the urban water cycle, not only as a system that transports water, but also as a potential source of energy. The partners in INNERS started a number of demonstration projects. These projects focus on energy recovery from different parts of the cycle, saving energy and promoting the reuse of this energy. The ambition of the researchers is high, they are striving for an energy-neutral or even an energy producing urban water cycle.
  </p>
  <h4>The urban water cycle as a source of energy</h4>
  <p>
    The urban water cycle is designed to transport water. Recent studies show that the water cycle includes a significant amount of energy, for example as heat. In the current situation that energy is not used and is lost. Moreover, it takes a lot of energy to transport and purify waste water from houses and industry. This can be illustrated by the following figures: municipal wastewater contains ten times the amount of energy required to treat wastewater in treatment plants. On average, only 20% of the energy input in wastewater treatment is recovered energy. This means currently we use only a small percentage of the available energy potential. INNERS aims to contribute to an energy-neutral or even an energy producing urban water cycle.
  </p>
  <h4>When and for who?</h4>
  <p>
    INNERS was launched in April 2011 and will run until December 2014. Target groups are technical students, technical specialists and policy makers.<br />
  </p>
</div>
{% endblock%}
