{% extends "homepage/index.html" %}

{% block path %}
<ul class="breadcrumb">
  <li><a href="{% url homepage_settings %}">Settings</a> <span class="divider">/</span></li>
  <li class="active">Manage users</li>
</ul>
{% endblock %}


{% block js %}
<script>
	{% if user.is_authenticated %}
	$(document).ready(function () {
		$('.supprButton').each(function () {
			$(this).hide();
		});
		$('.lign').hover(function (){
			$('.lign').each(function () {
				$(this).find('.supprButton').hide();
			});
			var Mybutton = $(this).find('.supprButton');
			Mybutton.show();
		});
		
		$('.supprButton').click(function () {			
			var user = $(this).closest('table.table').find('.user');
			var plant = $(this).closest('td').find('.plant');
			$('#id_name').val(user.html());
			$('#id_plantName').val(plant.html());
			$('#supprForm').submit();
		});
	});
	{% endif %}
</script>
{% endblock %}

	{% block content %}
	{% if user.is_authenticated %}
	{% if not is_user_authorized %}
	Access denied.
	{% else %}
	<div class="well">		
		{% for memb, plantList in list %}
			<table class="table">				
					<thead>
						<tr>
							<th class='user'>{{ memb }}</th>
						</tr>
					</thead>
					<tbody>
						{% for plant in plantList %}
						<tr class='lign'>
							<td>
								<div class="plant">{{ plant }}</div>
								<div class="supprButton">
									<buttun class="btn btn-mini btn-inverse">Delete</button>
								</div>
							</td>
						</tr>
						{% endfor %}
					</tbody>					
				</table>			
				{% endfor %}
			<buttun class="btn" onclick="location.href='{% url homepage_addUserRight %}'" style="float: right;"><i class="icon-plus"></i> Add a plant to user</button>
		<form id="supprForm" action="." method="POST">
		{% csrf_token %}
		{{ supprForm.as_p }}
		<input type="submit" value="Delete">
	</form>
	</div>
	{% endif %}
	{% else %}
	<p>Please <a href="{% url auth_login %}">log in</a>.</p>
	{% endif %}
	{% endblock %}