{% extends "homepage/index.html" %}
{% block js %}

<script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
<script>
	{% if user.is_authenticated %}
	$(document).ready(function () {
		txt = "Browser CodeName: " + navigator.appCodeName + "\n";
		txt+= "Browser Name: " + navigator.appName + "\n";
		txt+= "Browser Version: " + navigator.appVersion + "\n";
		txt+= "Cookies Enabled: " + navigator.cookieEnabled + "\n";
		txt+= "Platform: " + navigator.platform + "\n";
		txt+= "User-agent header: " + navigator.userAgent + "\n";
		txt+= "User-agent language: " + navigator.systemLanguage + "\n";
		$("#id_information").val(txt);
		email = "{{ user.email }}";
		$("#id_email").val(email);
		$("#id_information").attr("readonly", "readonly");
		$("#test").attr("align", "right");
		$("#id_problem").attr("placeholder", "Explain your problem");
		$("#id_problem").addClass("feed");
		$("#id_information").addClass("feed");
	});
	{% endif %}
</script>
{% endblock %}

{% block css %}
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" type="text/css" href="/static/global_style.css"/>
    <link rel="stylesheet" type="text/css" href="/static/menucss.css"/>
    <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap-responsive.min.css"/>
    <link rel="stylesheet" type="text/css" href="/static/bootstrap/js/bootstrap.min.js"/>
    <style src="/static/global_style.css"></style>
<style type="text/css">
	section {
	position: relative;
		margin-top: 290px;
	left: 400px;
	}
</style>
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
	<div id="test"></div>
	<form action="." method="POST" class="well" id="feedback_block">
		{% csrf_token %}
		{{ contact_form.as_p }}
		<input type="submit" value="Send" class="span1">
	</form>
{% endif %}
{% endblock %}

