{% extends "homepage/index.html" %}
{% block css %}
  {{block.super}}
  <style type="text/css">
    section {
    margin-top: 160px;
    left: 0;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    }
  </style>
{% endblock css %}
{% block js %}
  {{block.super}}
  <script type="text/javascript" src="/static/js/lc.js"></script>
  <script type="text/javascript" src="/static/js/cbc.js"></script>
  <script type="text/javascript" src="/static/js/cbc2.js"></script>
  <script type="text/javascript" src="/static/js/lc_cumu.js"></script>
  <script type="text/javascript" src="/static/js/sludge2.js"></script>
  <script type="text/javascript" src="/static/js/dashboard.js"></script>
  <script type="text/javascript">
    google.load('visualization', '1', {packages: ['corechart', 'orgchart']});
  </script>
  <script src="/static/js/googlepie.js"></script>
  <script>
    google.load('visualization', '1', {packages: ['annotatedtimeline']});
    function drawVisualization()
    {
      var annotatedtimeline = new google.visualization.AnnotatedTimeLine(
      document.getElementById('vizualisation_annoted'));
      {{ jTs|safe }}
      annotatedtimeline.draw(jscode_data);
    }
    google.setOnLoadCallback(drawVisualization);
  </script>  
  <script type="text/javascript">
    var EOSplantKey = "{{ plant.plantKey }}";
  </script>
  <script src="/static/js/googleorg.js"></script>
{% endblock js %}
{% block content %}
  <h4 id="plantname" style="text-align:center;margin-bottom:80px;">{{ plant.plants_name }}</h4>
  <div id="orgchartdiv" class="well" style="position:relative;width: 800px;left:20%;">
    <div id="orgchart" style="width: 780px;"></div>
  </div>
  <div style="position:relative;">
    <div class="well" style="width:250px;margin-top:2%;">Last data update : {{ lastupdate }}</div>
    <br></br><br></br><br></br><br></br><br></br>
    <div id="graphdata" class="well" style="width:50%;">
      <form action="" method="post">{% csrf_token %}
        {{ PGPForm.as_p }}
        <input type="submit" value="Submit" />
      </form>
    </div>
    <div style="clear:left;">&nbsp;</div>
  </div>
  <div class="well" style="width: 100%; height: 390px;">
    <div id="vizualisation_annoted" style="width: 100%; height: 350px;"></div>
  </div>
  <div class="well" style="width: 720px; height: 420px; margin-left:5%; ">
    <div style="width: 680px; height: 380px;" id="visualization_pie"></div>
  </div>

  <div id="dashboard">
     <table>
        <tr style="vertical-align: top">
          <td style="font-size: 0.9em;">
            <div id="control1" style="color: white"></div>
            <div id="control1bis" style="color: white"></div>
            <br></br>
            <div id="control2" style="color: white"></div>
            <div id="control3" style="color: black"></div>
          </td>
          <td>
            <div style="float: left;" id="chart1"></div>
            <div style="float: left;" id="chart2"></div>
            <div style="float: left;" id="chart3"></div>
          </td>
        </tr>
      </table>
  </div>
  
  
  <div id="cbc"></div>
  <div id="cbc_2"></div>
  <div id="lc_cumu"></div>
  <div id="sludge"></div>
  <div id="sludge_2"></div>
{% endblock %}
