{% extends "homepage/index.html" %}

{% block path %}
  <ul class="breadcrumb">
    <li class="active">Settings</li>
  </ul>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script>
      $(document).ready(function(){
        $(".collapse").collapse();
      });
    </script>
{% endblock js %}

{% block content %}

<div class="accordion" id="accordion2">
  <div class="accordion-group">
    <div class="accordion-heading" style="text-align:center;">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
        Personal settings
      </a>
    </div>
    <div id="collapseOne" class="accordion-body collapse in">
      <div class="accordion-inner">
        {{ user.email }}<br/>
        {{ user }}<br/>
        <a href="{% url auth_password_change %}">Change password</a>
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading" style="text-align:center;">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
        Organisation settings
      </a>
    </div>
    <div id="collapseTwo" class="accordion-body collapse">
      <div class="accordion-inner">
        {% if is_orga_manager %}
        You are manager of the organisation : {{ organisationName }} <br/>
        <a href="{% url homepage_manageUser %}">Manage users rights</a><br/>
        <a href="{% url registration_register %}">Create new account.</a><br/>
        {% endif %}
        You can join an organisation or request an other organisation to access to their plant by clicking : <a href="{% url user_join_organisation %}">here</a>
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading" style="text-align:center;">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
        Plant settings
      </a>
    </div>
    <div id="collapseThree" class="accordion-body collapse">
      <div class="accordion-inner">
        Your selected plant is : {{ selected }} - <a href="{% url user_organisation_page %}">Change</a><br/>
        {% if is_orga_manager %}
        <a href="{% url homepage_createPlant %}">Create new plant.</a><br/>
        {% endif %}
        <a href=" {% url user_ask_plant_right %}">Ask for plant access.</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
