{% extends "homepage/index.html" %}
{% block content %}
<div style="position:relative; margin:50px;" class="well">
    <h3>Decision support system</h3>
    <p>
      A Decision Support System (DSS), working as a knowledge based expert system, is combining the benchmark and analysis tools to provide the operator with decision support. Based on the performance of the plant in the benchmark studies, the DSS identifies potentials for improvements and gives suggestions regarding energetic process optimisation, cleaning and exchanging of aggregates. A set of common scenarios and rules is defined for this purpose. The EOS is not meant to control a WWTP but acts as a supportive system which provides operators with helpful information to improve their plant’s energy efficiency. Once the data import process is defined for the plant this information will be generated automatically and without much effort of the staff.
    </p>
</div>
<div class="well" style="position: relative; left:-200px; width: 160%;">
    <img src="/static/img/DSS1.png"></img>
    <img src="/static/img/DSS2.png"></img>
</div>
{% endblock %}
{% block footer %}

{% endblock %}
