{% extends "homepage/index.html" %}
{% block title %}
  Activation complete
{% endblock %}
{% block content %}
  <p class="info-text">Thanks, activation complete! You may now <a href="{% url auth_password_change %}">change your password</a>./<p>
{% endblock %}
