{% extends "homepage/index.html" %}
{% block title %}
  {% if account %}
    <p class="info-text">Activation complete</p>
  {% else %}
    <p class="info-text">Activation problem</p>
  {% endif %}
{% endblock %}
{% block content %}
  {% if account %}
    <p class="info-text">Thanks {{ account }}, activation complete!  You may now change your password.</p>
  {% else %}
    <p class="info-text">Oops &ndash; it seems that your activation key is invalid.  Please check the url again.</p>
  {% endif %}
{% endblock %}

