{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block top_menu %}
{% endblock%}

{% block feedback %}
{% endblock%}

{% block content %}

{% if form.errors %}
<p class="info-text">Your username and password didn't match. Please try again.</p>
{% endif %}
<div class="well" style="margin-top:200px;margin-left: 1%; margin-right: 10%">
	<form method="post" action="{% url django.contrib.auth.views.login %}">{% csrf_token %}
		<table>
			<tr>
				<td>{{ form.username.label_tag }}</td>
				<td>{{ form.username }}</td>
			</tr>
			<tr>
				<td>{{ form.password.label_tag }}</td>
				<td>{{ form.password }}</td>
			</tr>
		</table>
		<p><a href="{% url auth_password_reset %}">Forgot</a> your password?</p>

		<input type="submit" value="login" />
		<input type="hidden" name="next" value="{{ next }}" />
	</form>
</div>

<p class="info-text">
For general information on the EOS system and the Inners project, please refer to the <a href="http://inners.eu">INNERS web site</a>.
</p>

<p class="info-text">
To contact INNERS or request an EOS system login please use the <a href="http://inners.eu/contact/">contact form</a>
</p>

{% endblock %}
