{% extends "homepage/index.html" %}
{% block title %}Password reset complete{% endblock %}
{% block content %}
<p class="info-text">Your password has been reset!  You may now <a href="{{ auth_login }}">log in</a>.</p>
{% endblock %}
