{% extends "homepage/index.html" %}
{% block title %}Change password{% endblock %}
{% block path %}
<ul class="breadcrumb">
  <li><a href="{% url homepage_settings %}">Settings</a> <span class="divider">/</span></li>
  <li class="active">Change password</li>
</ul>
{% endblock %}

{% block content %}
<form class="well" method='post' action=''>{% csrf_token %}
<table>
    {{ form }}
    <tr><td></td><td><input type='submit' value="Change password" /></td></tr>
</table>
</form>
{% endblock %}
