{% extends "homepage/index.html" %}
{% block title %}Reset password{% endblock %}
{% block content %}
<p class="info-text">Forgot your password?  Enter your email in the form below and we'll send you
instructions for creating a new one.</p>
<form method='post' action=''>{% csrf_token %}
<table>
    {{ form }}
    <tr><td></td><td><input type='submit' value="Reset password" /></td></tr>
</table>
</form>
{% endblock %}
