{% extends "homepage/index.html" %}
{% block title %}Register for an account{% endblock %}
{% block path %}
<ul class="breadcrumb">
  <li><a href="{% url homepage_settings %}">Settings</a> <span class="divider">/</span></li>
  <li class="active">Create account</li>
</ul>
{% endblock %}

{% block content %}
<div class="well">
<table>
    <form method='post' action=''>{% csrf_token %}
        {{ form }}
        <tr><td></td><td><input type="submit" value="Create account" /></td>
    </form>
</table>
</div>
{% endblock %}
