a {
    text-decoration: none;
}
#plantname{
    color:white;
}
body {
    font-family: 'Source Sans Pro', sans-serif;
    background: url("/static/img/body_bg.jpg") no-repeat top rgb(0, 37, 46);
}
section {
    position: relative;
    top: -180px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;

}
#ban {
    width: 100%;
    left:0%;
}
#top_menu {
    position:absolute;
    top:50px;
    left:26%;
    border: 3px solid white;
    border-radius: 10px;    
    padding: 5px;
    background: url("/static/img/nav_bg.png");
}
#top_menu td {
    padding-right:30px;
    padding-left: 30px;
    text-align:center;
    background: url("/static/img/nav_seperator.png") no-repeat scroll left top transparent;
}
#top_menu td a {
    font-size: 16px;
    color: rgb(63, 152, 204);
    text-decoration: none;
    font-family: "futura-pt","Futura",Arial,sans;
    text-transform: uppercase;
    font-size: 14px;
}
#top_ban {
    position: relative;
    width:100%;
    height: 220px;
    min-width: 1080px;
    min-height: 120px;
    z-index: 0;
    opacity:0;
}
#top_logo {
    position : absolute;
    width: 200px;
    height: 70px;
    top:13px;
    left:13px;
    z-index: 1;
}
#mainMenu {
    position: relative;
    width: 500px;
    top: 100px;
    left: 50px;
}
header {
    position: absolute;
    top: 0px;
}
nav {}

#top_box {
    position: absolute;
    top: 1%;
    right: 1%;
    width:auto;
    height:auto;
    color: white;
    text-align: right;
}
#top_box a {        
    color: rgb(224,224,224);
    }
#path {
    position: absolute;
    top: 190px;
    left: 2%;
}

#graphdata{
    position: absolute;
    right: 0;
    top: 0;
}

#reportbug {
    position: absolute;
    top: 250px;
    left: 1%;
    width: 40px;
    height: 40px;
}
.plant {
    width: 120px;
    position: relative;
    overflow: hidden;
    display: inline;
    float: left;
    clear: both;
}
#plant_div {
    position: relative;
    overflow: hidden;
    display: inline;
    clear: both;
}
.user {
    clear: both;
    padding: 15px;
}
.supprButton {
    width: 60px;
    position: relative;
    overflow: hidden;
    display: inline;
    float: left;
}
#add_user {
    margin-top: 15px;
}
#supprForm, #addForm {
    display: none;
}
.feed {
    position: relative;    
    display: inline;    
    clear: both;
}
#feedback_block {
    position: relative;
    clear: both;
    float: left;
    display: inline;
}
#test_cache,
#organisation_page {
    position: relative;
}
#date_block {
    width: 116px;
    overflow: auto;
}
.accordion-inner {
    color: rgb(255, 255, 255);
}
.info-text{
    color:white;
}

input,
textarea {
    width: auto;
}
