{% extends "homepage/index.html" %}

{% block path %}
<ul class="breadcrumb">
  <li><a href="{% url homepage_settings %}">Settings</a> <span class="divider">/</span></li>
  <li class="active">Access plant</li>
</ul>
{% endblock %}


{% block js %}
<script>
	$(document).ready(function (){
		$("#select_submit").click(function(){
			$("#id_name").val($("#plant_select_form :selected").val());
			$('#askRight').submit();
		});
	});
</script>
{% endblock %}
{% block content %}	
{% if error %}
	<div class='alert alert-error'>{{ error }}</div>
	{% endif %}
<div class="well" style="margin-top:20px;">
	Ask for plant access : <br/>
	<div class="form-inline" style="text-align: center;">
	<select id="plant_select_form">		
		{% for plant in plantList %}
		<option id="{{ plant.plants_name }}" value="{{ plant.plants_name }}">{{ plant.plants_name }}</option>
		{% endfor %}		
	</select>
	<button class="btn" id="select_submit" >Select</button>
	</div>
	</div>
<div style="display:none;">
	<form id="askRight" class="form-inline" action="." method="POST">
		{% csrf_token %}
		{{ form.as_table }}
		<button type="submit" class="btn">Submit</button>
	</form>
</div>
{% endblock %}
