{% extends "homepage/index.html" %}

{% block js %}
{% endblock %}
{% block path %}
<ul class="breadcrumb">
  <li><a href="{% url homepage_settings %}">Settings</a> <span class="divider">/</span></li>
  <li class="active">Join organisation</li>
</ul>
{% endblock %}

{% block content %}
	{% if error %}
	<div class='alert alert-error'>{{ error }}</div>
	{% endif %}
	<form id="add_new_plant" class="form-inline" action="." method="POST">
		{% csrf_token %}
		{{ form.as_table }}
		<button type="submit" class="btn">Submit</button>
	</form>
{% endblock %}
