{% extends "homepage/index.html" %}

{% block js %}
	{{block.super}}
	<script>
		$(document).ready(function (){
			if ('{{ selected }}' != "None") {
			selId = {{ selected }};
			$(selId).attr("selected", "selected");
			};
			$("#select_submit").click(function(){
				$("#id_name").val($("#select_form :selected").val());
				$('#changeSel').submit();
			});
		});
	</script>
{% endblock js %}
{% block content %}
{% if inOrga %}
<div class="well" style="margin-top:20px;">
	Selected plant : <br/>
	<div class="form-inline" style="text-align: center;">
	<select id="select_form">		
		{% for plant in plantList %}
		<option id="{{ plant.plants_name }}" value="{{ plant.plants_name }}">{{ plant.plants_name }}</option>
		{% endfor %}		
	</select>
	<button class="btn" id="select_submit" >Select</button>
	</div>
</div>
<div class="well" id="test_cache">	
	<table class="table">
		<caption>Plant</caption>
		<thead>
			<tr>
				<th>Plant's name</th>
				<th>Energy consumption</th>
				<th>Traffic light</th>
				<th>Self energy production</th>
			</tr>
		</thead>
		<tbody>
			{% for plant in plantList %}
			<tr>				
				<td>				
					<a href="{% url homepage_plant plant.plantKey %}">{{ plant.plants_name }}</a>
				</td>
				<td>--kWh/d</td>
				<td><i class="icon-warning-sign"></i></td>
				<td>--%</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
<div style="display:none">
	<form id="changeSel" action="." method="POST">
		{% csrf_token %}
		{{ form.as_p }}
		<input type="submit" value="change">
	</form>
</div>
{% else %}
<div class="alert alert-info">
You currently have no organisation. You can join an organisation by clicking : <a href="{% url user_join_organisation %}">here</a>.
</div>
{% endif %}
{% endblock %}
