{% extends "homepage/index.html" %}

{% block js %}
	<script type="text/javascript" src="http://www.google.com/jsapi"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
	<script>
	$(document).ready(function () {
		$('.appr').click(function () {
			$("#id_val").val($(this).html());
			$("#id_typ").val($(this).closest('tr').find('.rtype').html());
			$("#id_use").val($(this).closest('tr').find('.ruser').html());
			$("#id_mess").val($(this).closest('tr').find('.rmessage').html());
			$('#subRequest').submit();
		});
		$('.decl').click(function () {
			$("#id_val").val($(this).html());
			$("#id_typ").val($(this).closest('tr').find('.rtype').html());
			$("#id_use").val($(this).closest('tr').find('.ruser').html());
			$("#id_mess").val($(this).closest('tr').find('.rmessage').html());
			$('#subRequest').submit();
		});	
	});
	</script>
{% endblock %}

{% block content %}
	<h2 style="margin-bottom:20px;">Requests</h2>
	<table class="table">
		<tbody>
			{% for rtype, ruser, rmessage in requestList %}
			<tr>
				<td class="rtype">{{ rtype }}</td>
				<td class="ruser">{{ ruser }}</td>
				<td class="rmessage">{{ rmessage }}</td>
				<td><a class="appr" href="javascript:">Approve</a> - <a class="decl" href="javascript:">Decline</a></td>
			</tr>
			{% endfor %}
		</tbody>
	</table>

<div style="display: none;">
	<form id="subRequest" class="form" action="."  method="POST">
		{% csrf_token %}
		{{ form.as_table }}
		<button type="submit" class="btn">Submit</button>
	</form>
</div>
{% endblock %}