<!DOCTYPE html>

<html>
  <head lang="en">
    <meta charset="utf-8" />
    <title>{% block title %}EOS{% endblock %}</title>
    {% block js %}
    <script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
    <script type="text/javascript" src="http://www.google.com/jsapi"></script>
    <script src="/static/bootstrap/js/bootstrap-tooltip.js"></script>
    <script>
    $(document).ready(function (){
      $('#reportbug').hover(function () {
        $("#reportbug").tooltip({
          'selector': '',
          'placement': 'top'
        });        
      });
    });
    </script>
    {% endblock js %}
    {% block css%}
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" type="text/css" href="/static/menucss.css"/>
    <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/static/global_style.css"/>
    <style type="text/css">
      section {
      margin-top: 200px;
      margin-left: auto;
      margin-right: auto;
      width: 50em;
      }
    </style>
    {% endblock css %}
  </head>
  <body>    
    <div id="ban">
      <img id="top_ban" src="/static/img/6.png">
      <img id="top_logo" src="/static/img/inners.png" style="">
      <div style="position: absolute; top:50px; left: 125px; color: rgb(223,226,224);">
        <h3 style="font-family: Helvetica; font-size:18px;">Energy Online System</h3>
      </div>
    </div>
   {% block top_menu %}{% endblock %}
   {% block feedback %}
   <div id="reportbug" rel="tooltip">
     <button title="Report Bug" class="btn btn-info" onclick="javascript:window.location.href={% url homepage_feedback %}">Feedback/bug</button>
  </div>
   {% endblock %}
    <header>{% block header %}{% endblock %}</header>
    <div id="path">{% block path %}{% endblock %}</div>
    <div id="top_box">{% block top_box %}{% endblock %}</div>
    <nav>{% block nav %}{% endblock %}</nav>
    <section>{% block content %}{% endblock %}</section>
    <footer>{% block footer %}{% endblock %}</footer>
  </body>
</html>
